<?xml version="1.0"?>
<launch> 
    <!-- LIMO의 3D 모델(URDF)을 /robot_description 파라미터로 로드합니다 -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find limo_description)/urdf/limo_four_diff.xacro' robot_namespace:='limo'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />    
    <!-- ttyTHS1 for NVIDIA nano serial port-->
    <!-- ttyUSB0 for IPC USB serial port -->
    <arg name="port_name" default="ttyTHS1" />
    <arg name="use_mcnamu" default="false" />

    <include file="$(find limo_base)/launch/limo_base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="use_mcnamu" default="$(arg use_mcnamu)" />
        <arg name="pub_odom_tf" value="true" />
    </include>

    <include file="$(find ydlidar_ros)/launch/X2L.launch" />

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link" args="0.105 0.0 0.08 0.0 0.0 0.0 /base_link /laser_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /imu_link 10" />
</launch>
